:root {
  --color-primary: #2A7AE4;
  --color-black: #000;
  --color-blackLighter: #9E9E9E;
  --color-grayLight: #F5F5F5;
  --color-grayMedium: #E5E5E5;
  --color-grayDark: #141414;
  --color-white: #FFF;
  --color-blueLight: #6BD1FF;
  --color-greenLight: #00C68F;
}
